.reset {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #5889e4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(110, 200, 202);
  }
  
  .reset:hover {background-color: #5199e3}
  
  .reset:active {
    background-color: #5889e4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }